body{
    margin: 0;
    padding: 0;
    background-color: rgb(63, 54, 54);
    color: whitesmoke;
}
header{
    position: relative;
}
.profile--picture {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 70px;
    margin-top: 40px;
} 
.profile--picture .profileimage {
    width: 100%;
    height: auto;
}  
.name{
    position: absolute;
    top: 80px;
    left: 650px;
}
.jaymerbasilio{
    font-size: 3em;
    border-bottom: solid gold 3px;
}
.information{
    text-align: center;
}
.content{
    margin:auto;
    width: 80%;
    background-color: rgb(92, 75, 75);
    border-radius: 3%;
    padding: 20px;
}
.mto{
    text-align: center;
    color: gold;
}
.experienceborder{
    width:60%;
    margin: auto;
}
.experience{
    font-size: 2em;
    text-align: center;
}
.skillsborder{
    width:60%;
    margin: auto;
}
.skills{
    font-size: 2em;
    text-align: center;
}